main.team {
    form {
        .header {
            font-size: 1.15rem;
            margin: 0 0 .5rem;
        }

        .members {
            .table-header {
                display: flex;
                font-size: 1rem;

                p {
                    margin: 0;
                }
                .isSub {
                    width: 3.5rem;
                }
                .name {
                    width: 15rem;
                }
                .delete {
                    width: 7rem;
                }
            }

            .member {
                align-items: center;
                display: flex;
                flex-direction: row;
                padding: 0 0 0.5rem 0;


                .btn {
                    color: $white;
                    font-size: 1rem;
                    margin: 0.25rem;
                    margin-right: 2.2rem;
                }

                .name {
                    font-size: 1.15rem;
                    margin: 0 .5rem;
                    padding: 0;
                    width: 14rem;
                }

                .delete {
                    height: 1rem;
                    width: 1rem;
                    background: $error;
                }
            }
        }
    }
}