body {
    background: $neutral-dark;
    background: linear-gradient(180deg, $neutral 0%, $neutral-dark 23%);
    background-repeat: no-repeat;
    color: $text;
    font: $headerFont;
    min-height: 100vh;
}

#root {
    margin: auto;
    max-width: 2200px;

    &:empty {
        position: absolute;
        top: calc(50% - 4em);
        left: calc(50% - 4em);
        width: 6em;
        height: 6em;
        border: 1.1em solid var(--primary);
        border-left: 1.1em solid var(--neutral-dark);
        border-radius: 50%;
        animation: load8 1.1s infinite linear;
      }
      
      @keyframes load8 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: $headerFont;
}

main {
    padding: 3rem calc(3vw + 7rem);
}
