
.blurbContainer {
    display: grid;
    grid-template-areas: 
    "heading"
    "content"
    "btnContainer";
    position: relative;
    margin: auto;
    max-width: 70rem;

    .blurbHeading {
        color: $primary;
        grid-area: heading;
        font-size: 2.5rem;
    }
    .blurbContent {
        grid-area: content;
        margin: 0 2rem 2rem;
        max-width: 40rem;
        width: 70%;

        p {
            font: $bodyFont;
            margin-top: 0;
        }
    }
    .btnContainer {
        grid-area: btnContainer;
        position: relative;
    }

    // .btnCTA::before {

    //     border: none;
    //     height: calc(100% + 5rem);
    //     left: -1.75rem;
    //     top: -.25rem;
    //     width: calc(100% + 5rem);
    //     z-index: -1;
    // } 
    .imgSection {
        position: absolute;
        right: 0;
        top: 10%;
        height: 100%;

        .bgImg {
            height: 100%;
            width: auto;
        }
    }
}
